.navi {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    line-height: 50px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(82, 82, 82);
}

a {
    color: #fff;
    text-decoration: none;
}
